<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/index.css">
  <link class="favicon" rel="icon" href="/assets/logo.png" type="image/png">
  <title><%= title %></title>
</head>
<body>

  <div class="main">
    <header>
      <a href="/"><img src="/assets/logo.png" alt="logo"></a>
      <a href="/">Buy</a>
      <a href="/sell">Sell</a>
      <!-- <div class="gray-line"></div> -->
    </header>

    <div class="content">
      <aside>
        <div class="aside-categories">
          <h4>Filters:</h4>
        </div>
        
        <div class="parameters">
          <div class="rarity-section">
            <span>Rarity:</span>
            <div class="section">
              <a class="section-link covert-a" href="?rarity=covert">
                <svg class="covert-svg" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path d="M0 10V0H10L0 10Z" fill="currentColor"></path>
                </svg>
                Covert
              </a>
              <a class="section-link classfield-a" href="?rarity=classfield">
                <svg class="classfield-svg" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path d="M0 10V0H10L0 10Z" fill="currentColor"></path>
                </svg>
                Classfield
              </a>
              <a class="section-link restricted-a" href="?rarity=restricted">
                <svg class="restricted-svg" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path d="M0 10V0H10L0 10Z" fill="currentColor"></path>
                </svg>
                Restricted
              </a>
              <a class="section-link mil-spec-a" href="?rarity=milsec">
                <svg class="mil-spec-svg" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path d="M0 10V0H10L0 10Z" fill="currentColor"></path>
                </svg>
                <span>Mil-Spec Grade</span>
              </a>
              <a class="section-link industrial-a" href="?rarity=industrial">
                <svg class="industrial-svg" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path d="M0 10V0H10L0 10Z" fill="currentColor"></path>
                </svg>
                <span>Industrial Grade</span>
              </a>
              <a class="section-link consumer-a" href="?rarity=consumer">
                <svg class="consumer-svg" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path d="M0 10V0H10L0 10Z" fill="currentColor"></path>
                </svg>
                <span>Consumer Grade</span>
              </a>
            </div>
          </div>
          <div class="quality-section">
            <span>Quality</span>
            <div class="section">
              <a class="section-link" href="?quality=FactoryNew">
                <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path d="M0 5C0 2.23858 2.23858 0 5 0H14C16.7614 0 19 2.23858 19 5V14C19 16.7614 16.7614 19 14 19H5C2.23858 19 0 16.7614 0 14V5Z" fill="currentColor" fill-opacity="0.3"></path>
                  <path d="M5 12.4091V6.59088H8.48864V7.21588H5.70455V9.18179H8.22727V9.80679H5.70455V12.4091H5Z" fill="white"></path>
                  <path d="M14.3089 6.59088V12.4091H13.6271L10.4567 7.84088H10.3999V12.4091H9.69531V6.59088H10.3771L13.5589 11.1704H13.6158V6.59088H14.3089Z" fill="white"></path>
                </svg>
                <span>Factory New</span>
              </a>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>

</body>
</html>