<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/index.css">
  <link rel="icon" href="/assets/logo.png" type="image/png">
  <title><%= title %></title>
</head>
<body>

  <div class="main">
    <header>
      <a href="/"><img src="/assets/logo.png" alt="logo"></a>
      <a href="/">Buy</a>
      <a href="/sell">Sell</a>
      <!-- <div class="gray-line"></div> -->
    </header>
  </div>

</body>
</html>