<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/sell.css">
  <link rel="stylesheet" href="/public/index.css">
  <link class="favicon" rel="icon" href="/assets/logo.png" type="image/png">
  <script src="/DOM/sell.js" defer></script>
  <title><%=title %></title>
</head>
<body>
  
  <div class="main">
    <header class="home-header">
      <a href="/"><img src="/assets/logo.png" alt="logo"></a>
      <a href="/">Buy</a>
      <a href="/sell">Sell</a>
      <!-- <div class="gray-line"></div> -->
    </header>

    <div class="add-item">
      <h1>Sell Item</h1>
      <form method="post" action="/sell" enctype="multipart/form-data">
        <label for="name">Name*:</label>
        <input name="name" type="text" id="name" placeholder="Head-Shot" required>

        <label for="gun">Gun*:</label>
        <select name="gun" id="gun" class="selection" required>
          <option value="" disabled selected>Select Gun</option>
          <option value="Agent">Agent</option>
          <option value="Ak-47">Ak-47</option>
          <option value="AUG">AUG</option>
          <option value="AWP">AWP</option>
          <option value="Case">Case</option>
          <option value="CZ75-Auto">CZ75-Auto</option>
          <option value="Desert Eagle">Desert Eagle</option>
          <option value="Dual Berettas">Dual Berettas</option>
          <option value="FAMAS">FAMAS</option>
          <option value="Five-SeveN">Five-SeveN</option>
          <option value="G3SG1">G3SG1</option>
          <option value="Galil AR">Galil AR</option>
          <option value="Glock-18">Glock-18</option>
          <option value="Gloves">Gloves</option>
          <option value="Graffiti">Graffiti</option>
          <option value="Knife">Knife</option>
          <option value="M249">M249</option>
          <option value="M4A1-S">M4A1-S</option>
          <option value="M4A4">M4A4</option>
          <option value="MAC-10">MAC-10</option>
          <option value="MAG-7">MAG-7</option>
          <option value="MP5-SD">MP5-SD</option>
          <option value="MP7">MP7</option>
          <option value="MP9">MP9</option>
          <option value="Music Kit">Music Kit</option>
          <option value="Name Tags">Name Tags</option>
          <option value="Negev">Negev</option>
          <option value="Nova">Nova</option>
          <option value="Pass">Pass</option>
          <option value="Patches">Patches</option>
          <option value="P2000">P2000</option>
          <option value="P250">P250</option>
          <option value="P90">P90</option>
          <option value="PP-Bizon">PP-Bizon</option>
          <option value="R8 Revolver">R8 Revolver</option>
          <option value="Sawed-Off">Sawed-Off</option>
          <option value="SCAR-20">SCAR-20</option>
          <option value="SG 553">SG 553</option>
          <option value="SSG 08">SSG 08</option>
          <option value="Sticker Capsule">Sticker Capsule</option>
          <option value="Stickers">Stickers</option>
          <option value="Tec-9">Tec-9</option>
          <option value="UMP-45">UMP-45</option>
          <option value="USP-S">USP-S</option>
          <option value="XM1014">XM1014</option>
          <option value="Zeus X27">Zeus X27</option>
        </select>

        <label for="cost">Cost*:</label>
        <input type="number" name="cost" id="cost" placeholder="1560" required>

        <!-- <label for="category">Category*:</label>
        <select name="category" id="category" class="selection" required>
          <option value="" disabled selected>Select Category</option>
          <option value="Rifle">Rifle</option>
        </select> -->

        <label for="rarity">Rarity*:</label>
        <select name="rarity" id="rarity" class="selection" required>
          <option value="" disabled selected>Select Rarity</option>
          <option value="Covert">Covert</option>
          <option value="Classfield">Classfield</option>
          <option value="Restricted">Restricted</option>
          <option value="Mil-Spec">Mil-Spec Grade</option>
          <option value="Industrial">Industrial Grade</option>
          <option value="Consumer">Consumer Grade</option>
        </select>

        <label for="quality">Quality*:</label>
        <select name="quality" id="quality" class="selection" required>
          <option value="" disabled selected>Select Quality</option>
          <option value="Factory-New">Factory New</option>
          <option value="Minimal-Wear">Minimal Wear</option>
          <option value="Field-Tested">Field-Tested</option>
          <option value="Well-Worn">Well-Worn</option>
          <option value="Battle-Scarred">Battle-Scarred</option>
        </select>

        <label for="imgURL">Cost*:</label>
        <input type="file" id="imgURL" name="imgURL" required accept="image/*">
        
        <button type="submit">Sumbit</button>
      </form>
    </div>
  </div>

</body>
</html>