@font-face {
  font-family: "Open Sans";
  src: url("/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("/fonts/Open_Sans/static/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #000000,#0d1521,#070e18);
  color: white;
  font-family: "Inter", "Open Sans", Inter, system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
}

:root {
  --header-height: 60px;
  --content-height: calc(100vh - var(--header-height));
  --border-color: #1f2937;
  --filter-height: 70px;
  --aside-width: 300px;
  --text-color: #d4d4d8;
}

.home-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d4d4d8;
  text-decoration: none;
  height: 100%;
  margin-right: 1.25em;
  transition: 0.125s ease-in-out;
}

.home-header a,
.section a,
.container-main .category-header a {
  color: #d4d4d8;
}


.home-header a:nth-child(1) {
  margin-left: 0.5em;
}

.home-header a:hover,
.section a:hover,
.container-main .category-header a:hover {
  color: white;
}

.gray-line {
  position: absolute;
  bottom: 0;
  border: 1px solid var(--border-color);
  width: 100%;
}

.home-header {
  /* position: relative; */
  display: flex;
  align-items: center;
  height: var(--header-height);
  background: linear-gradient(45deg, var(--border-color) 7%, rgba(7,14,24,1) 50%);
  box-shadow: inset -11px 1px 48px -1px rgba(55,65,81,0.59);
  backdrop-filter: blur(20px);
}

.home-header img {
  height: auto;
  margin-left: 0.75em;
  height: 40px;
  border-radius: 8px;
}

.content {
  display: flex;
  min-height: var(--content-height);
}

.content aside {
  width: var(--aside-width);
  border-right: 1px solid var(--border-color);
  height: var(--content-height);
  overflow: auto;
}

.content aside .aside-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--filter-height);
  border-bottom: 1px solid var(--border-color);
}

.content aside .aside-categories h4 {
  font-weight: 500;
}

.content aside .parameters {
  height: calc(100% - var(--filter-height));
}

.content aside .parameters .rarity-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  padding-top: 1em;
  border-bottom: 1px solid var(--border-color);
}

.content aside .parameters span,
.content aside .parameters .section {
  margin-left: 2em;
}

.content aside .parameters .section {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 2em;
  text-align: start;
  gap: 0.55em;
}

.content aside .parameters .section-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  user-select: none;
  gap: 0.5em;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.1s ease-in-out;
}

.content aside .parameters .section-link span {
  white-space: nowrap;
  margin: 0 !important;
}

.content aside .parameters .rarity-section .section-link svg {
  height: 22px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.content aside .parameters .quality-section .section-link svg {
  height: 22px;
}

.content aside .parameters span {
  user-select: none;
  margin-bottom: 1.25em;
}

.covert-svg {
  color: #e11d48;
}

.covert-a:hover {
  .covert-svg {
    color: #f43f5e;
  }
}

.classfield-svg {
  color: #c026d3;
}

.classfield-a:hover {
  .classfield-svg {
    color: #d946ef;
  }
}

.restricted-svg {
  color: #9333ea;
}

.restricted-a:hover {
  .restricted-svg {
    color: #a855f7;
  }
}

.mil-spec-svg {
  color: #2563eb;
}

.mil-spec-a:hover {
  .mil-spec-svg {
    color: #3b82f6;
  }
}

.industrial-svg {
  color: #0284c7;
}

.industrial-a:hover {
  .industrial-svg {
    color: #0ea5e9;
  }
}

.content aside .parameters .quality-section {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding-bottom: 2em;
  border-bottom: 1px solid var(--border-color);
}

.fn-svg {
  color: #525252;
}

.fn-a:hover {
  .fn-svg {
    color: #737373;
  }
}

.mw-svg {
  color: #a16207;
}

.mw-a:hover {
  .mw-svg {
    color: #ca8a04;
  }
}

.ft-svg {
  color: #d97706;
}

.ft-a:hover {
  .ft-svg {
    color: #f59e0b;
  }
}

.ww-svg {
  color: #ea580c;
}

.ww-a:hover {
  .ww-svg {
    color: #f97316;
  }
}

.bs-svg {
  color: #dc2626;
}

.bs-a:hover {
  .bs-svg {
    color: #ef4444;
  }
}

.container-main {
  height: var(--content-height);
  width: calc(100% - var(--aside-width));
  overflow-y: auto;
}

.container-main .category-header {
  display: flex;
  height: var(--filter-height);
  width: 100%;
  overflow-x: auto;
}

.container-main .category-header a {
  padding-left: 1em;
  padding-right: 1em;
}

.container-main .category-header a:nth-child(1) {
  margin-left: 2em;
  padding-left: 0;
}

.container-main .category-header a:nth-child(11) {
  margin-right: 2em;
  padding-right: 0;
}

.container-main .category-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 0.85rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 2em;
}

.items .item {
  position: relative;
  max-height: 180px;
  width: 170px;
  max-width: 250px;
  border-radius: 8px;
  background-color: #374151;
  border: 1px solid #27272a;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  flex: 1 1 170px;
  padding-bottom: 0.85em;
}

.items .item img {
  align-items: center;
  object-fit: cover;
  height: 95px;
  margin-top: 1em;
  transition: all 0.1s ease-in-out;
}

.items .item .img-container-item {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 0;
}

.covert {
  background: linear-gradient(0deg, rgba(76,5,25,1) 7%, rgba(13,21,33,1) 74%);
}

.covert:hover {
  img {
    transform: scale(1.1);
  };
  background: linear-gradient(0deg, rgba(136,19,55,0.6) 7%, rgba(13,21,33,1) 74%);
}

.item:hover {
  .buy-item-container {
    opacity: 1;
    height: 30px;
  }
}

.items .item .info-container-item {
  margin: 0.5em;
  margin-top: 0;
}

.items .item .info-container-item h4 {
  display: flex;
  justify-content: space-between;
}

#steam-cheap {
  height: 24px;
  width: 24px;
}

.items .item .info-container-item p {
  font-size: 0.7rem;
  color: #adaeaf;
  margin-top: 0.25em;
}

.buy-item-container {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 0px;
  transition: all 0.1s ease-in-out;
  z-index: 1;
}

.buy-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
  border: none;
  color: white;
  background-color: #0284c7;
  font-weight: 600;
  cursor: pointer;
}